.git
.gitignore
.vscode
.cp-images
.codex-run
.codex-tmp
workspace
artifacts
d
branding
database
deployment
sync_windows_agent
sync_windows_agent-windows-portable

frontend/.dart_tool
frontend/build
frontend/client-updates
backend/server/target

**/.pytest_cache
**/__pycache__
**/.dart_tool
**/build

sync_admin_web/.dart_tool
sync_admin_web/.idea
sync_admin_web/build
sync_admin_web/test
